<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1>Task List</h1>
            <br>
            <a href="/tasklist/add" class="btn tn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Task
            </a>
        <table class="table table-bordered table-striped table-hover">
            <!--Table Header-->
            <tr class="d-flex">
                <th class="text-center col-2">Task</th>
                <th class="text-center col-2">Course</th>
                <th class="text-center col-1">Weight</th>
                <th class="text-center col-2">Deadline</th>
                <th class="text-center col-1">Complete</th>
                <th class="text-center col-2">Edit/Delete</th>
                
            </tr>
            <% for(let count=0;count<TaskList.length;count++) { %>
            <tr class="d-flex">
                <td class="text-center col-2"><%= TaskList[count].task %></td>
                <td class="text-center col-2"><%= TaskList[count].course %></td>
                <td class="text-center col-1"><%= TaskList[count].weight %></td>
                <td class="text-center col-2"><%= TaskList[count].deadline %></td>
                <td class="text-center col-1"><%= TaskList[count].complete %></td>
                    <td class="text-center col-1">
                    <a href="/tasklist/edit/<%= TaskList[count]._id%>" 
                        class="btn btn-primary btn-sm">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/tasklist/delete/<%= TaskList[count]._id%>" 
                        class="btn btn-danger btn-sm">
                        <i class="fa-solid fa-ban"></i>
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
        </div>
    </div>
</main> 
<%- include ../Partials/footer.ejs %>